@media(max-width:900px) {
    nav .menu {
        display: none;
    }
.main{
    display: block;
    /* width: 100%; */
}
.main .main-content, .main .main-img{
    width: 100%;
}

}
@media(max-width:600px) {
    nav .menu {
        display: none;
    }
.main{
    display: block;
    /* width: 100%; */
}
.main .main-content, .main .main-img{
    width: 100%;
}
.main .main-content h1{
  font-size: 40px;
}
.main .main-content p{
    font-size: 20px;
  }
}