/* 

## Colors

### Primary

- Dark Blue: hsl(233, 26%, 24%)
- Lime Green: hsl(136, 65%, 51%)
- Bright Cyan: hsl(192, 70%, 51%)

### Neutral

- Grayish Blue: hsl(233, 8%, 62%)
- Light Grayish Blue: hsl(220, 16%, 96%)
- Very Light Gray: hsl(0, 0%, 98%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size: 18px

### Font

- Family: [Public Sans](https://fonts.google.com/specimen/Public+Sans)
- Weights: 300, 400, 700 */


@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,700;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Public Sans", sans-serif;
}

:root {
    /* primary color */
    --DarkBlue: hsl(233, 26%, 24%);
    --LimeGreen: hsl(136, 65%, 51%);
    --BrightCyan: hsl(192, 70%, 51%);

    /* Neutral */
    --GrayishBlue: hsl(233, 8%, 62%);
    --LightGrayishBlue: hsl(220, 16%, 96%);
    --VeryLightGray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
}

html {

    font-size: 18px
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
body{
    overflow-x: hidden;
}
.full-container {
    width: 1440px;
    max-width: 100%;
    /* background-color: #b3b3e6; */

}

.container {
    width: 1440px;
    max-width: 85%;
    margin: 0 auto;
    /* background-color: bisque; */
}

/* images */
img {
    max-width: 100%;
    height: auto;
}


/* navbar css start */
.nav-section{
    background-color: var(--White);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    padding: 25px 0;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.navbar ul li a {
    text-decoration: none;
    color: var(--GrayishBlue);
    padding: 28px 0;
    border-bottom: 2px solid var(--White);
    transition: all 0.5 ease-in-out;
 
}

.navbar ul li a:hover {

    border-bottom: 2px solid var(--LimeGreen);
    /* #f0efed */
}

.navbar ul li a:hover {
    color: var(--LimeGreen);
    transition: all 0.5 ease-in;
}

.btn {
    background-image: linear-gradient(to right, var(--LimeGreen), var(--BrightCyan));
    transition: all 0.5 ease-in-out;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
}

.btn:hover {
    background-image: linear-gradient(to right, var(--BrightCyan), var(--LimeGreen));

}

/* navbar css end */
/* =================================================== */
/* banner section start */
.header-section {
    background-color: var(--VeryLightGray);
    padding-bottom: 100px;
}

.header-wrapper {
    display: flex;
    align-items: center;
    /* background-color: blue; */
}

.header-text {
    flex: 1 0 40%;
  
}
.header-text h1{
    font-size: 50px;
   
}
.header-text p{
    font-size: 19px;
   color: var(--GrayishBlue);
}
.header-text ,h1,p{
    padding-bottom: 30px;
}
.header-img {
    flex: 1 0 60%;
    position: relative;

}

.header-img img:first-child {
    position: relative;
    top: 24px;
    bottom: 0;
    right: -150px;
    transform: scale(1.5);
}

.header-img img:last-child {
    position: absolute;
    right: -175px;
    bottom: -239px;
    transform: scale(1);

}

/* banner section end */


/* main section */
.main-section{
    padding: 100px 0;
}
.main-text{
    width: 655px;
    padding-bottom: 20px;
}
.main-text h1{
   
    font-size: 40px;
}
.main-text p{
   
    color: var(--GrayishBlue);
}
.main-cart{
    display: flex;
}
.main-cart .cart{
    width: 300px;
}
.main-cart .cart p{
    color: var(--GrayishBlue);
}
.main-cart .cart img,h1{
    padding-bottom: 20px;
}
.main-cart > * + *{
    margin-left: 30px;
}